<%= content_tag(:div, :class => classes, **options) do %>
  <%= form.label(attribute, label, :class => Felt.configuration.classes.dig(:input_group, :label)) %>
  <% if hint? %><div class="<%= Felt.configuration.classes.dig(:input_group, :hint) %>"><%= hint %></div><% end %>
  <%= form.text_field(attribute, :class => input_classes, :placeholder => placeholder) %>
  <% if help? %><div class="<%= Felt.configuration.classes.dig(:input_group, :help) %>"><%= help %></div><% end %>
  <% errors.each do |error| %>
    <p class="<%= Felt.configuration.classes.dig(:input_group, :error) %>"><%= error %></p>
  <% end %>
<% end %>
