<%= content_tag(:div, :class => classes, **options) do %>
  <%= render(Felt::Label.new(:form => form, :attribute => attribute, :text => label)) %>
  <% if hint? %><div class="<%= Felt.configuration.classes.dig(:input_group, :hint) %>"><%= hint %></div><% end %>
  <%= form.text_field(attribute, :class => input_classes, :placeholder => placeholder, **input_options) %>
  <% if help? %><div class="<%= Felt.configuration.classes.dig(:input_group, :help) %>"><%= help %></div><% end %>
  <% errors.each do |error| %>
    <p class="<%= Felt.configuration.classes.dig(:input_group, :error) %>"><%= error %></p>
  <% end %>
<% end %>
