<%= content_tag(:div, :class => classes, **options) do %>
  <%= render(Felt::Label.new(:form => form, :attribute => attribute, :classes => label_classes, :text => label)) %>
  <%= render(Felt::Hint.new(:form => form, :attribute => attribute, :classes => hint_classes, :text => hint)) %>
  <%= content %>
  <%= render(Felt::Help.new(:form => form, :attribute => attribute, :classes => help_classes, :text => help)) %>
  <% errors.each do |error| %>
    <p class="<%= error_classes %>"><%= error %></p>
  <% end %>
<% end %>
