<%= content_tag(:div, :class => classes, **options) do %>
  <% if hint? %><div class="<%= hint_classes %>"><%= hint %></div><% end %>
  <div class="flex">
    <div class="flex items-center h-5">
      <%= form.check_box(attribute, :class => input_classes, :placeholder => placeholder, **input_options) %>
    </div>
    <div class="ml-2 text-sm">
      <%= render(Felt::Label.new(:form => form, :attribute => attribute, :classes => label_classes, :text => label)) %>
      <% if help? %><div class="<%= help_classes %>"><%= help %></div><% end %>
      <% errors.each do |error| %>
        <p class="<%= error_classes %>"><%= error %></p>
      <% end %>
    </div>
  </div>
<% end %>
